@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  background-color: #000000;
  color:white;
text-align: center;
}
body{
  padding: 20px;
}

h1{
  font-family: 'Oswald', sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
}

footer a{
  text-decoration: none;
  color: whitesmoke;
  font-size: larger;
}